
.body {
  background-color: rgb(50, 81, 147);
  height: 80vh;
  text-align: center;
  margin: 1vh;
}

.ground {
  background-color: black;
  height: 63vh;
}

.ctrl {
  display: flex;
  justify-content: center;
  background-color: rgb(48, 144, 228);
  height: 15vh;
  margin: 1vh;
}

.button {
  background-color: blueviolet;
  margin: 1vh;
  width: 30vh;
}

.icon {
  color: rgb(247, 223, 87);
  font-size: 5vh;
  font-weight: 5vh;
  margin: 3vh;
  pointer-events:none;
}

.snakeHead {
  position: absolute;
  top: 10vh;
  left: 10vh;
  background-color: greenyellow;
  width: 1vh;
  height: 1vh;
}

.snakeBody {
  position: absolute;
  top: 10vh;
  left: 6vh;
  background-color: #4db17a;
  width: 1vh;
  height: 1vh;
}

.headerBar {
  position: absolute;
  width: 96vw;
  height: 4vh;
  top: 1vh;
  left: 1vh;
  display: flex;
  justify-content: space-around;
  color: white;
}

.inputParent {
  display: flex;
  justify-content: center;
}

.normalFood {
  position: absolute;
  top: 10vh;
  left: 6vh;
  background-color: rgb(255, 220, 220);
  width: 1vh;
  height: 1vh;
}

.superFood {
  position: absolute;
  top: 10vh;
  left: 6vh;
  background-color: #f26e09;
  width: 1vh;
  height: 1vh;
}